*{
	margin: 0;
	padding: 0;
}
body{
	background: #a4db48;
}

.main{
	.contain{
		position: relative;
		width: 900px;
		margin: 0 auto;
		padding-top: 1px;

		.wrap{
			position: absolute;
			img{
				position: absolute;
				display: block;
			}
			img.hole{
				display: block;
			}
			img.mouse{
				width: 200px;
				left: 0px;
				top: -80px;
				display: none;

			}
			img.hammer{
				left: 150px;
				top: -150px;
				display: none;

				transition: all .5s;
				-moz-transition: all .5s;	/* Firefox 4 */
				-webkit-transition: all .5s;	/* Safari 和 Chrome */
				-o-transition: all .5s;	/* Opera */

				transform: rotate(30deg);
				-ms-transform: rotate(30deg);		/* IE 9 */
				-webkit-transform: rotate(30deg);	/* Safari and Chrome */
				-o-transform: rotate(30deg);		/* Opera */
				-moz-transform: rotate(30deg);		/* Firefox */
			}

		}
		.hole1{
			left: 320px;
			top: 150px;
		}
		.hole2{
			left: 120px;
			top: 420px;
		}
		.hole3{
			left: 540px;
			top: 420px;
		}

		.start{
			width: 200px;
			height: 70px;
			border: 2px dashed #ffffff;
			border-radius: 10px;
			color: #ffffff;
			margin-top: 50px;
			padding: 20px 0;
			p.btn{
				font-size: 30px;
				text-align: center;
				line-height: 70px;
				cursor: pointer;
			}
			p.score{
				display: none;
				text-align: center;
				font-size: 28px;
				height: 35px;
				
			}
			p.time{
				display: none;
				text-align: center;
				font-size: 28px;
				height: 35px;
				
			}
		}
	}
}